ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ece9d9;
}
.header {
  width: 100%;
  height: 30px;
  background: #ece9d9;
}
.container {
  flex: 1 0 auto;
  display: flex;
}
.container .content {
  flex: 1 0 auto;
  background: #ece9d9;
  position: relative;
}
.container .canvas-wrapper {
  position: relative;
  border: 1px solid #000;
  margin: 20px;
  max-height: calc(100% - m * 2);
  max-width: calc(100% - m * 2);
  height: 300px;
  width: 500px;
}
.container canvas {
  background: #fff;
  width: 100%;
  height: 100%;
}
.container .clippy img {
  height: 30px;
}
.container .toolbar {
  width: 110px;
  margin: 0;
  text-align: left;
  order: -1;
  background: #ece9d9;
}
.container .toolbar .tools {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 10px;
}
.container .toolbar .tools li {
  width: 40px;
  margin-left: 10px;
  height: 40px;
  background: #fff;
  margin-top: 10px;
}

.container .toolbar .tools li input {
  height: 30px;
  margin:5px;
  width: 30px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}
.menu .menu-item {
  width: 50px;
  background: #d3d3d3;
  padding: 10px;
}
.footer {
  background: #ece9d9;
  height: 60px;
  padding: 10px;
  width: 100%;
}

.footer .palette {
  display: flex;
  flex: row;
}

.footer .palette .color {
  height: 40px;
  width: 40px;
}
