header.header
 ul.menu
  li.menu-item file
  li.menu-item edit
.container
  .content
    .canvas-wrapper
      canvas#canvas(height=50)
  .toolbar
    ul.tools
      li.tool t1
      li.tool t2
      li.tool t3
      li.tool t4
      li.tool t5
      li.tool t6
footer.footer
  .palette
    | palette